<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>
<div th:if="${param.message}">
    <td th:text="${param.message}">Error:</td>
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/signup}" method="post">
    <table>
        <tr>
            <td>Email:</td>
            <td><input type="text" name="email"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td>Confirm Password:</td>
            <td><input type="password" name="passwordConfirm"/></td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td><input type="text" name="firstName"/></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" name="lastName"/></td>
        </tr>
        <tr>
            <td>Phone Number:</td>
            <td><input type="text" name="phone"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit">SIGN UP</button>
            </td>
        </tr>
    </table>
</form>

<a href="/login">Login here</a>
</body>
</html>